body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
}

.slide {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}
